.responsive {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-title { 
  text-transform: initial;
  white-space: normal; 
}
.one-photo {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 1;
   -webkit-column-gap:   0px;
   -moz-column-count:    1;
   -moz-column-gap:      0px;
   column-count:         1;
   column-gap:           0px;
}
  .one-photo .image {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
.img-container { max-height: 86px; }
  .img-container .responsive { max-height: 100%; max-width: 100%; overflow: hidden;}

.pic { 
	margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:5px;
	background:#ffffff;
}

.panel{
  background-color: #F5F3F3;
}


/*===SOCIAL BUTTONS===*/

.share {
  display: block;
  width: 50px;
  height: 40px;
  border-radius: 3px;
  text-indent: -999px;
  overflow: hidden;
  float: right;
	margin-left: 5px;
}
  .share.twitter {
    background: #00aced url(/app/images/icons.png) 0 -240px no-repeat;
  }

  .share.facebook {
    background: #3b5998 url(/app/images/icons.png) 0 -280px no-repeat;
  }

  .share.whatsapp {
    background: #24b528 url(/app/images/icons.png) 0 -520px no-repeat;
  }


/*===ICONS===*/
i.ion-chevron-right,
i.ion-chevron-left{
  width: 11px;
  height: 20px;
}
i.icon.icon-back-blue.next {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg);
}
