.navbar
  .navbar-inner
    .left
      a.back.link(href="/")
        i.icon.icon-back-blue
    .center.sliding notengoganasdetrabajar.com
.pages.navbar-through.toolbar-through
  .page(date-page="image")
    .page-content
      .content-block-title.image-title: h2 #{doc.title}
      .content-block.one-photo
        img.image(src="#{doc.image}")
      .content-block
        .row
          .col-33: p.share social
          .col-66
            a.share.whatsapp(href="whatsapp://send?text=Conjuration%202.0%0Ahttp%3A%2F%2F9gag.com%2Fgag%2FaxNANo2%3Fref%3D9g.wsa.mw")
            .share.facebook
            .share.twitter
