.navbar
  .navbar-inner
    .left.sliding
      a.link.open-panel.icon-only(href="#"): i.icon.icon-bars-blue
    .center.sliding notengoganasdetrabajar.com
.pages.navbar-through.toolbar-through
  .page(data-page="timeline", id="timeline")
    .page-content
      #pics.content-block
        each pic in pics
          .pic
            .row
              .col-100: h2.truncate #{pic.title}
            .row
              .col-100
                a(href="/image?id=#{pic._id}"): img.responsive(src="#{pic.image}")
      .content-block
        .row
          .col-100: a#more.button Dame más
