script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40648195-7', 'notengoganasdetrabajar.com');
  ga('send', 'pageview');
  
script.
  // Que me gusta ser malo!!! ]8D
  // http://stackoverflow.com/questions/8495687/split-array-into-chunks
  Array.prototype.chunk = function(chunkSize) {
      var array=this;
      return [].concat.apply([],
          array.map(function(elem,i) {
              return i%chunkSize ? [] : [array.slice(i,i+chunkSize)];
          })
      );
  }
script( src="components/requirejs/require.js", data-main="/app/js/pages/home")

