title notengoganasdetrabajar.com | deliciosamente procrastinador
meta(charset='utf-8')
meta(name='HandheldFriendly', content='True')
meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content='')
meta(name='author', content='Carlos Villuendas')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='format-detection', content='telephone=no')
meta(name='random', content='#{random || 0}')
meta(name='page', content='#{page || 0}')
meta(http-equiv='cleartype', content='on')
link(rel='shortcut icon', href='app/images/favicon.ico')

// CSS
link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

//Bootstrap
link(href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css", rel="stylesheet")
link(href="components/swiper/dist/idangerous.swiper.css", rel="stylesheet")
link(href="components/Framework7/dist/css/framework7.min.css", rel="stylesheet")
link(href="app/css/main.css", rel="stylesheet")
script(src="//cdn.goroost.com/roostjs/4dca9575a5ea4ea396683d7e1ebf783d", async)
