doctype
html
  head
    include ../blocks/head.jade
    block head
  body
    .panel-overlay
    .panel.panel-left.panel-cover
      .list-block
        ul
          li
            a.external.close-panel.item-link(href="/?random=0")
              .item-content
                .item-media: i.icon.ion-android-clock
                .item-inner Procrastíname
          li
            a.external.close-panel.item-link(href="/?random=1")
              .item-content
                .item-media: i.icon.ion-shuffle
                .item-inner Randomízame
    .views
      block body
    include ../blocks/footer.jade
